#view_chat {
    -fx-fixed-cell-size: 40px;
}

#fondo {
   
}

#fondo_registro {
    -fx-background-color: rgb(192, 192, 192);
}

#fondo_registro_datos {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

#foto_perfil {
    
}

#listViewMensajes {

}

