#btn_aceptar {
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 4px;
}

#boton_salir {
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 4px;
}